body {
  background-image: url("images/green.jpg");
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  font-size: 20px;
  font-family: "Chilanka", cursive;
  padding: 70px;
}

button {
  font-size: 20px;
  padding: 10px;
  background-color: #e4ffb3;
  border-width: 4px;
  font-family: "Chilanka", cursive;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
.pan3 > button {
  width: 250px;
  height: 80px;
}

#clic {
  width: 150px;
  height: 150px;
  background-image: url("images/1150996.png");
  background-size: 125%;
  background-position: center;
  border-radius: 100px;
  border: none;
  background-color: transparent;
}
#clic:active {
  transform: translate(-4px, 4px);
}

section {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 500px;
}
.pan1 {
  grid-column: 1 / 2;
  background-image: url("images/c0f2de36a3e8bb885eb8d2ec5afefd7b.jpg");
  border: 3px solid #8d6940;
  box-shadow: 3px 3px 3px #4e3f2e;
}
.pan2 {
  grid-column: 2 / 3;
}
.pan3 {
  grid-column: 3 / 4;
  background-image: url("images/c0f2de36a3e8bb885eb8d2ec5afefd7b.jpg");
  border: 3px solid #8d6940;
  box-shadow: 3px 3px 3px #4e3f2e;
}

#affichage {
  background-color: #f3face;
  padding: 20px;
  width: 150px;
  border: solid 2px #b3db68;
  box-shadow: 3px 3px 3px #98b368;
  text-align: center;
}

#cheat {
  align-self: flex-end;
  margin: 0;
}
#cheat2 {
  align-self: flex-end;
  margin: 0;
}
